*{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-family: 'KoHo', sans-serif;
}

a {
	text-decoration: none;
	
}

ol, ul {
	list-style: none;
}

/* REMOVE COR PADRÃO DO PREENCHIMENTO AUTOMÁTICO */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
	-webkit-text-fill-color: white;
}