/* STILOS DE TEXTOS */
.titulo_branco{
    font-size: 3em;
    font-weight: bold;
    color: white;
}
.copyright a{
    font-size: 1em;
    letter-spacing: 1px;
    color: #58595B;
}
.titulo_cinza{
    font-size: 3em;
    font-weight: bold;
    color: #58595B;
}

.subtitulo_branco{
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
}

.subtitulo_cinza{
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: #58595B;
}

.texto_branco{
    font-size: .9em;
    letter-spacing: 1px;
    color: white;
}

.texto_cinza{
    font-size: 0.9em;
    letter-spacing: 1px;
    color: #58595B;
}

.titulo_form_cinza{
    font-size: 0.56em;
    font-weight: bold;
    text-transform: uppercase;
    color: #58595B;
}

.titulo_form_branco{
    font-size: 0.56em;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.texto_form_cinza{
    font-size: 0.56em;
    color: #58595B;
}

.texto_form_branco{
    font-size: 0.56em;
    color: white;
}

/* GRID */
.grid_geral{
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 20px 0 20px;
}

/* POLÍTICA DE PRIVACIDADE */
.box_container.hide {
    display: none !important;
}

.box_container {
    position: fixed;
    background: rgb(29, 48, 51);
    width: 100vw;
    z-index: 998;
    bottom: 0;
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;
}

.box-cookies{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 500;
}

.box-cookies p{
padding: 0 10px;
}

.msg-cookies, .btn-cookies {
    text-align: center;
    color: white;
}

.box-cookies a{
    padding: 0;
    margin: 0;
    color: white;
    letter-spacing: 0;
    font-weight: 500;
    text-decoration:underline;
}

.btn-cookies {
    background: #84FF60;
    cursor: pointer;
    padding: 10px 30px;
    margin: 10px;
    border-radius: 5px;
    color: rgb(29, 48, 51);
    font-weight: bold;
    text-transform: uppercase;
}


/* CABECALHO */
.container_cabecalho{
    background: linear-gradient(to bottom, rgb(29, 48, 51), rgba(0,0,0,0));
    /* background: rgba(30, 46, 49, 0.7); */
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 20px;
    padding: 20px 0 20px 0;
    flex: 1;
}

.cabecalho img{
    width: 120%;
    padding-top: -10px;
}

.cabecalho ul{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    align-items: center;
    margin-top: 10px;
}

.cabecalho li{
    margin-left: 62px;
}

.cabecalho li:last-child{
    margin-left: 20px;
}

.menu_mobile{
    display: none;
    background: rgba(10, 19, 17, 0.95);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 60px;
    list-style: none;
    font-size: 25px;
}

.btn_menu_mobile{
    color: white;
    padding: 35px 50px;
    display: none;
    background: none;
}

.menu_mobile li{
    padding: 15px;
}

.menu_mobile img{
    width: 200px;
    margin-bottom: 50px;
}

#logo_mobile{
    display: none;
    width: 90%;
    margin-top: 10px;
}

.link{
    font-size: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    transition: 0.3s;
}

.menu_mobile a{
    font-size: .9em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    transition: 0.3s;
}

.cabecalho li a:hover, .menu_mobile li a:hover, .active{
    font-size: 1em;
    text-transform: uppercase;
    color: #84FF60;
    transition: 0.3s;
}

.menu_mobile i:hover{
    color: #84FF60;
    transition: 0.3s;
}

.cabecalho svg {
    fill: white;
    transition: 0.3s;
}

.whats:hover, .tel:hover, .whats_m:hover, .tel_m:hover {
    fill: #84FF60;
    transition: 0.3s;
}

/* MUDA MENU */
.container_cabecalho_2{
    background: none;
}

.link_2{
    font-size: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #58595B;
    transition: 0.3s;
}

.whats, .tel, .whats_m, .tel_m{
    fill: white;
    transition: 0.3s;
}

.cor_2{
    fill: #58595B;
    transition: 0.3s;
}

/* VIVI */
.vivi{
    position: fixed;
    bottom: 50px;
    right: 100px;
    z-index: 1;
}

.vivi_anime{
    position: fixed;
    bottom: 25px;
    right: 40px;
    opacity: 0.5;
}

/* COTADOR */
.container_form h1{
    max-width: 374px;
    margin: -600px 0 30px 0;
}

.btn_cotar{
    margin: 30px auto 0 auto;
    padding: 25px 50px;
    border-radius: 50px;
    background: #84FF60;
    cursor: pointer;
    color: rgb(29, 48, 51);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em;
}

.container_form button:hover{
    background: white;
    color: #58595B;
    transition: 0.2s;
}

.container_form iframe{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    z-index: 5;
}

.btn_close{
    display: none;
    position: fixed;
    top: 50px;
    right: 100px;
    z-index: 6;
    color: rgb(29, 48, 51);
    background: none;
    cursor: pointer;
}


/* PLANOS */
.container_planos{
    margin: 200px 0 180px 0;
    display: flex;
    justify-content: center;
}

.planos{
    text-align: center;
}

.planos h1{
    margin-bottom: 60px;
}

.planos hr{
    border: 2px solid #84FF60;
    background: #84FF60;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.logos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logos img{
    width: 18%;
    object-fit: contain;
    padding: 30px 20px;
    filter: saturate(0);
    opacity: 0.5;
    transition: 0.3s;
}

.logos img:hover{
    opacity: 1;
    filter: saturate(1);
}

/* BLOG */
.container_card{
    background: #EEEBE7;
    padding: 115px 0;
}

.container_card h1{
    text-align: center;
    padding: 50px 20px 0 20px;
}

.cards{
    display: flex;
    text-align: center;
    padding: 68px 0 100px 0;
    justify-content: space-between;
    flex-wrap: wrap;    
}

.card_foto{
    flex: 1 1 320px;
    text-align: center;
    border-radius: 20px;
    background: #3B5554;
    margin: 20px;
    overflow: hidden;
    cursor: pointer;
}

.card_foto img{
    width: 100%;
    object-fit: cover;
    filter: saturate(0.5);
    transition: 0.2s;
}

.card_foto img:hover{
    transform: scale(1.05, 1.05);
    object-fit: cover;
    filter: saturate(1);
    transition: 0.2s;
}

.card_foto h2{
    padding: 25px 0 15px 0;
}

.card_foto hr{
    border: 1px solid #84FF60;
    background: #84FF60;
    width: 70px;
    margin: 0 auto;
    margin-bottom: 0;
    border-radius: 10px;
}

.card_foto p{
   padding: 15px 0 32px 0;
   text-transform: uppercase;
}

/* SOBRE NÓS */
.container_sobre{
    background: url(img/banner_sobre.jpg) no-repeat;
    background-position: center;
    background-size: auto 113%;
    background-attachment: fixed;
    object-fit: cover;
    padding: 130px 0 190px 0;
}

.sobre{
    text-align: center;
}

.sobre h1{
    padding-top: 80px;
}

.sobre hr{
    border: 2px solid #84FF60;
    background: #84FF60;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 100px;
    border-radius: 10px;
}

.sobre p{
    max-width: 400px;
    font-size: 1.25em;
    font-weight: medium;
    color: white;
    line-height: 30px;
    text-align: left;
    margin-bottom: 40px;
}

/* CONTATO */
.container_contato{
    background: url(img/bg_fale_conosco.jpg) center fixed;
    padding: 100px 0 80px 0;
    display: flex;
    justify-content: center;
}

.contato{
    max-width: 350px;
    padding: 30px 80px 80px;
    text-align: center;
    background: #304741;
    opacity: 0.9;
    mix-blend-mode: multiply;
    border-radius: 30px;
}

.contato hr{
    border: 2px solid #84FF60;
    background: #84FF60;
    color: #84FF60;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 60px;
    border-radius: 10px;
}

form{
    display: flex;
    flex-direction: column;
}

form input{
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 50px;
    background: transparent;
    color: white;
}

::placeholder{
    color: white;
} 

form textarea{
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 30px;
    background: none;
    color: white;
}

form button{
    margin: 30px auto 0 auto;
    padding: 15px 75px;
    border-radius: 30px;
    background: #84FF60;
    cursor: pointer;
}

form button:hover{
    background: white;
    color: #58595B;
}

#form-erro, #form-sucesso p{
    color: white;
}

#form-sucesso{
    color: #84FF60;
}

/* RODAPÉ */
.container_rodape{
    background: #484B4D;
}

.rodape{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px 0 60px 0;
}

.bloco{
    flex: 1 1;
    padding: 0 30px 0 30px;
}

.bloco hr{
    border: 2px solid #84FF60;
    background: #84FF60;
    width: 70px;
    border-radius: 10px;
}

.bloco h2{
    padding-bottom: 8px;
}

.bloco p{
    text-transform: uppercase;
    line-height: 20px;
    padding-top: 8px;
}

.bloco a p:hover{
    color: #84FF60;
}

.icones svg{
    margin-top: 15px;
    padding: 0px 10px 0 0;
}

.icones svg {
    fill: white;
    stroke: white;
    stroke-width: 0;
}

.icones svg:hover {
    fill: #84FF60;
    stroke: #84FF60;;
}

.copyright{
    text-align: center;
    background: #EEEBE7;
}

.copyright p{
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 30px;
}

/* RESPONSIVO */
@media (max-width: 980px){
/* CABECALHO */

/* #logo_desk{
    display: none;
} */

#logo_mobile{
    display: none;
    width: 90%;
    margin-top: 10px;
}

.cabecalho{
    justify-content: start;
}

.container_cabecalho{
    background: linear-gradient(to bottom, rgba(30, 46, 49, 1), rgba(0,0,0,0.5));
}

.cabecalho img{
    padding: 0 0 0 20px;
}

.menu{
    display: none;
}

.btn_menu_mobile{
    display: flex;
}

/* RODAPÉ */
.rodape{
    flex-direction: column;
}

.bloco{
    flex: 1 1;
    padding: 30px 30px;
    margin: 0;
    text-align: center;
}

.bloco hr{
    margin: 0 auto;
}
}

@media (max-width: 767px){
    /* VIVI */
    .vivi{
        display: none;
    }
    
    /* CONTATO */
    .contato{
        padding: 20px 30px 50px;
    }
    
    form button{
        border-radius: 50px;
    }
    
    /* PLANOS */
    
    .logos{
        flex-direction: column; 
    }
    
    .logos img{
        margin: 0 auto;
        width: 50%;
        margin-bottom: 30px;
    }
    }


@media (max-width: 600px){
/* CABEÇALHO */
#logo_desk{
    display: none;
}

#logo_mobile{
    display: block;
    width: 90%;
    margin-top: 10px;
}


/* COTADOR */
.container_form img{
    display: none;
}


/* PLANOS */
.container_planos{
    margin: 0px 0 60px 0;
    display: flex;
    justify-content: center;
}

.planos h1{
    padding-top: 120px;
}

.logos img{
    opacity: 0;
}


/* CARDS */
.container_card{
    padding: 115px 20px;
}

.card_foto img{
    filter: saturate(1);
    transition: 0.2s;
}

/* VIVI */
.vivi{
    display: none;
}


/* SOBRE */
.container_sobre{
    background: url(img/banner_sobre_mobile.jpg) no-repeat;
    background-position: center;
    background-size: auto 113%;
    background-attachment: fixed;
    object-fit: cover;
    padding: 130px 0 190px 0;
}

.container_sobre{
    padding: 30px 0 30px 0;
    margin: -50px 0 0 0;
}


/* CONTATO */
.container_contato{
    padding: 100px 30px;
}
.contato h1{
    font-size: 2.5em;
}

.contato button{
padding: 15px 43px;
}

/* COTADOR */
.container_form h1{
    position: absolute;
    max-width: 220px;
    bottom: 27vh;
    padding-left: 20px;
    font-size: 2em;
}

.btn_cotar{
    position: absolute;
    bottom: 20vh;
    margin: 25px 0px 0 20px;
    padding: 20px 30px;
    border-radius: 50px;
    background: #84FF60;
    cursor: pointer;
    color: rgb(29, 48, 51);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
}


.btn_close{
    display: none;
    position: fixed;
    top: 15px;
    right: 30px;
    z-index: 6;
    color: rgb(29, 48, 51);
    background: none;
    cursor: pointer;
}

}